#login_main {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login_middle {
  margin-top: 3%;
  height: 45%;
  width: 35%;
}
#login_middle form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_middle form input:nth-child(1) {
  border: 0px;
  width: 60%;
  border-bottom: 1px solid black;
  padding: 4px;
  font-weight: 700;
  margin-bottom: 10px;
}
#login_middle form input:nth-child(2) {
  border: 0px;
  width: 60%;
  padding: 4px;
  border-bottom: 1px solid black;
  font-weight: 700;
  background-color: lightcyan;
}
#login_middle form button {
  margin-top: 20px;
  width: 60%;
  border: 1px solid black;
  height: 30px;
  background-color: white;
  cursor: pointer;
}
#login_middle form div {
  width: 60%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 800;
}
#login_middle form div span {
  cursor: pointer;
}
#login_middle form div span:hover {
  transition: linear 0.5s;
  color: grey;
}
#login_api {
  margin-top: 7%;
  position: relative;
  right: 12%;
  font-weight: bold;
  font-size: 0.8rem;
}
#naver {
  color: rgb(26, 221, 26);
  border-bottom: 2px solid rgb(26, 221, 26);
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
#kakao {
  border-bottom: 2px solid black;
  cursor: pointer;
}
