<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="file.mapper.FileMapper">
	 
    <insert id="boardFileInsert" parameterType="FileDTO">
		INSERT into BoardFile (boardfile_id, uuid, uploadPath, fileName, board_Num) 
		VALUES (seq_boardfile_id.nextval, #{uuid}, #{uploadPath}, #{fileName}, #{board_Num})
	</insert>
	
	<insert id="productFileInsert" parameterType="FileDTO">
		INSERT into ProductFile (ProductFile_id, uuid, uploadPath, fileName, product_number) 
		VALUES (seq_productfile_id.nextval, #{uuid}, #{uploadPath}, #{fileName}, #{linked_num})
	</insert>

	<delete id="boardFiledelete">
		delete from BoardFile where uuid = #{uuid}
	</delete>	

	<delete id="boardFiledeleteAll">
		delete BoardFile where board_Num = #{board_Num}
	</delete>

	<select id="findByBoardNum" parameterType="int" resultType="FileDTO">
		select * from BoardFile where board_Num = #{board_Num} order by boardfile_id
	</select>

	<select id="findByProductNum" parameterType="int" resultType="FileDTO">
		select * from PRODUCTFILE where product_number = #{product_number} order by productfile_id
	</select>
</mapper>