<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="file.mapper.FileMapper">
	 
    <insert id="boardFileInsert" parameterType="BoardFileDTO">
		INSERT into BoardFile (boardfile_id, uuid, uploadPath, fileName, board_Num) 
		VALUES (seq_boardfile_id.nextval, #{uuid}, #{uploadPath}, #{fileName}, #{board_Num})
	</insert>
	
	<insert id="productFileInsert" parameterType="ProductFileDTO">
		INSERT into ProductFile (ProductFile_id, uuid, uploadPath, fileName, product_num) 
		VALUES (seq_productfile_id.nextval, #{uuid}, #{uploadPath}, #{fileName}, #{product_num})
	</insert>


	<insert id="brandFileInsert" parameterType="BrandFileDTO">
		INSERT into BrandFile (brandfile_id, uuid, uploadPath, fileName, brand_num) 
		VALUES (seq_brandfile_id.nextval, #{uuid}, #{uploadPath}, #{fileName}, #{brand_num})
	</insert>

	<delete id="boardFiledelete">
		delete from BoardFile where uuid = #{uuid}
	</delete>	

	<delete id="boardFiledeleteAll">
		delete BoardFile where BOARD_num = #{board_num}
	</delete>

	<select id="findByBoardNum" parameterType="int" resultType="BoardFileDTO">
		select * from BoardFile where board_num = #{board_num} order by boardfile_id
	</select>

	<select id="findByProductNum" parameterType="int" resultType="ProductFileDTO">
		select * from PRODUCTFILE where product_num = #{product_num} order by productfile_id
	</select>
	
	<select id="findByBrandNum" parameterType="int" resultType="BrandFileDTO">
		select * from BRANDFILE where BRAND_NUM = #{product_category_num} order by brandfile_id
	</select>
	
	<delete id="productFileDeleteAll">
		delete ProductFile where product_num = #{product_num}
	</delete>
	
	<delete id="brandFileDeleteAll">
		delete BRANDFILE where BRAND_NUM = #{product_category_num}
	</delete>
</mapper>