<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order.mapper.OrderMapper">

	<select id="getCartList" parameterType="String" resultType="CartDTO">
		select * from CART where member_id = #{member_id}
	</select>
	
	
	
   	<insert id="addCart" parameterType="CartDTO">
   		insert into CART(
			member_id, 
			detail_product_id 
		) values (
			#{member_id},
			#{detail_product_id}
		)
   	</insert>
   	
   	<select id="getCartDtoByDetailProductId" parameterType="int" resultType="CartDTO">
   		select * from CART where detail_product_id = #{detail_product_id}
   	</select>
</mapper>